.navbar {
  background: linear-gradient(180deg, var(--bg-color) 0%, var(--dark-color) 100%);
  overflow: hidden;
  display: flex;
  padding-left: 20px;
  padding-right: 10px;
  height: 48px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: larger;
  background: var(--secondary-color);
}

.navbar a {
  height: 100%;
  display: flex;
  align-items: center;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 8px;
}

.navbar-brand a {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar a:hover {
  background-color: var(--primary-color);
  color: black;
}

.navbar-menu {
  height: 100%;
  list-style-type: none;
  display: flex;
  margin: 0px;
  align-items: center;
  gap: 5px;
}

.navbar-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-item a {
  padding-left: 20px;
  padding-right: 20px;
}